body.heroic {
  --background: #;
  --background-darker: #;
  --background-secondary: #;
  --background-lighter: #;
  --accent: #;
  --text-default: #;
  --navbar-accent: #;
  --navbar-active-background: #;
  --success: #;
  --success-hover: #;
  --primary: #;
  --primary-hover: #;
  --danger: #;
  --danger-hover: #;
  --anticheat-supported: #;
  --anticheat-planned: #;
  --icon-disabled: #;
  --cancel-button: #;
  --anticheat-broken: #;

  --accent-overlay: var(--accent);
  --navbar-background: var(--background);
  --body-background: var(--background-darker);
  --current-background: var(--body-background);
  --text-secondary: var(--text-default);
  --text-tertiary: var(--background);
  --navbar-active: var(--accent);
  --input-background: var(--background);
  --modal-background: var(--body-background);
  --modal-border: var(--body-background);
  --anticheat-denied: var(--danger);
  --anticheat-running: var(--text-default);
  --text-title: var(--text-default);
  --icons-background: var(--background-lighter);
  --action-icon: var(--navbar-accent);
  --action-icon-hover: var(--text-default);
  --action-icon-active: var(--accent);
  --neutral-06: var(--text-default);
}
